<!-- HEADER START -->

<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a href="#" class="nav-link px-2 " style="color: #EEC346; margin-right: 50px;">Home</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: aliceblue;">게시판 관리</a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">게시판1</a></li>
                <li><a class="dropdown-item" href="#">게시판2</a></li>
                <li><a class="dropdown-item" href="#">게시판3</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: aliceblue;">사용자 관리</a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">사용자 계정 등록</a></li>
              <li><a class="dropdown-item" href="#">사용자 로그인 히스토리 조회</a></li>
              <li><a class="dropdown-item" href="#">사용자 조회</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
          <div class="text-end">
            {% if user.is_authenticated %}
            <div style="margin-bottom: 5px;">{{user.username}}님 환영합니다.</div>
            <button type="button" class="btn btn-outline-light me-2">비밀번호 변경</button>
            <button type="button" class="btn btn-warning">로그아웃</button>
            {% else %}
            <a type="button" class="btn btn-warning" href="login/">로그인</a>
            {% endif %}
          </div>
      </div>
    </div>
  </header>

  <!-- HEADER END -->