<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Board1 Post Edit</title>

  <!-- CSS only / JavaScript Bundle with Popper -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  </script>

  <!-- JQuery UI Sortable -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- style.css -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- style.js -->
  <script src="/static/js/style.js"></script>

</head>

<body
  style="background-image: url('/static/img/minimalist.jpg'); background-repeat: no-repeat; background-size: cover;">
  <main class="form-signin w-100 m-auto">
    <!-- INCLUDE HEADER -->
    {% include 'includes/header.html' %}

    <div class="card border-dark text" style="width: 1100px; margin: 30px auto;">
      <h4 class="card-header">
        <div>
          <strong class="d-inline-block mb-2 text-success">설정</strong>
        </div>
      </h4>
      <div class="card-body text-start ap">
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          필드 선택
        </button>
        <!-- Modal Start -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">필드 추가/삭제</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {% csrf_token %}
                <div id="fields-container">
                  <form>
                    <div class="form-group">
                      <label for="field-type-select">필드 유형</label>
                      <select class="form-select" id="field-type-select">
                        <option value="zero">필드 유형을 선택해주세요.</option>
                        <option value="text">텍스트</option>
                        <option value="textarea">텍스트 박스</option>
                        <option value="number">숫자</option>
                        <option value="date">날짜</option>
                        <option value="select">셀렉트</option>
                        <option value="image">이미지</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="field-name-input">필드 이름</label>
                      <input type="text" class="form-control" id="field-name-input">
                    </div>
                    <div class="form-group">
                      <label for="field-name-input">필드 라벨</label>
                      <input type="text" class="form-control" id="field-label-input">
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="fieldRequired" id="fieldRequired">
                        <label class="form-check-label" for="flexRadioDefault1">
                          필수 여부
                        </label>
                      </div>
                    </div>
                  </form>

                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button id="save-field-btn" type="submit" onsubmit="return validateForm()"
                  class="btn btn-primary">저장</button>
              </div>
            </div>
          </div>
        </div>
        <script>
          // 모달의 추가 버튼 클릭 이벤트 핸들러
          $('#save-field-btn').click(function () {

            // 추가할 필드 정보 가져오기
            var fieldName = $('#field-name-input').val();
            var fieldType = $('#field-type-select').val();
            var fieldLabel = $('#field-label-input').val();
            var fieldRequired = $('#fieldRequired').prop('checked');

            // 잘가져오는지 콘솔 출력
            console.log('추가 fieldName : ', fieldName)
            console.log('추가 fieldType : ', fieldType)
            console.log('추가 fieldLabel : ', fieldLabel)
            console.log('추가 fieldRequired 여부 : ', fieldRequired)
            console.log('------------------')

            if (fieldType == "zero") {
              alert("필드 유형을 선택해주세요.");
              return false;
            }

            // 필드 이름 확인
            if (fieldName == "") {
              alert("필드 이름을 입력해주세요.");
              return false;
            }

            // 필드 라벨 확인
            if (fieldLabel == "") {
              alert("필드 라벨을 입력해주세요.");
              return false;
            }

            // 숫자 필드인 경우 유효성 검사
            if (fieldType == "number") {
              var fieldValue = document.getElementById("field-value-input").value;
              if (isNaN(fieldValue)) {
                alert("숫자 값을 입력해주세요.");
                return false;
              }
            }
            // 추가할 필드 HTML 생성
            var fieldHtml = '<div class="form-floating" style="margin-bottom: 20px;"><div class="mb-3">';
            fieldHtml += '<label for="' + fieldName + '">' + fieldLabel + '</label><button id="' + fieldName + '1' +
              '" type="button" class="btn btn-danger float-end">삭제</button>';

            // 필드 타입에 따라 HTML 생성
            if (fieldType === 'zero') {
              fieldHtml = ''
            }
            if (fieldType === 'text') {
              fieldHtml += '<input class="form-control" type="text" name="' + fieldName + '" id="' + fieldName +
                '"></div></div>';
            } else if (fieldType === 'textarea') {
              fieldHtml += '<textarea class="form-control" name="' + fieldName + '" id="' + fieldName +
                '" rows="3">';
            } else if (fieldType === 'number') {
              fieldHtml += '<input class="form-control" type="number" name="' + fieldName + '" id="' + fieldName +
                '"></div></div>';
            } else if (fieldType === 'date') {
              fieldHtml += '<input class="form-control" type="date" name="' + fieldName + '" id="' + fieldName +
                '"></div></div>';
            } else if (fieldType === 'select') {
              fieldHtml += '<select class="form-select" name="' + fieldName + '" id="' + fieldName +
                '"></div></div>';
              if (fieldRequired) {
                fieldHtml += ' required';
              }
              fieldHtml += '>';
              fieldHtml += '<option value="">-- 선택 --</option>';
              fieldHtml += '<option value="option1">옵션 1</option>';
              fieldHtml += '<option value="option2">옵션 2</option>';
              fieldHtml += '<option value="option3">옵션 3</option>';
              fieldHtml += '</select>';
            } else if (fieldType === 'image') {
              fieldHtml += '<input class="form-control" type="file" name="' + fieldName + '" id="' + fieldName +
                '"></div></div>';
            }

            // // 필드가 필수인 경우 HTML에 required 속성 추가
            // if (fieldRequired) {
            //   const add = document.querySelector('fieldRequired');
            // }

            // 필드 HTML을 폼에 추가
            $('#add_form').append(fieldHtml);

            // 모달 숨기기
            // $('#exampleModal').modal('hide');

            // 추가한 필드 초기화
            $('#field-name-input').val('');
            $('#field-type-select').val('zero');
            $('#field-label-input').val('');
            $('#fieldRequired').prop('checked', false);
          });

          $(document).on('click', '.btn-danger', function () {
            $(this).closest('.form-floating').remove();
          });
          // // 필드 삭제 버튼 클릭 이벤트 핸들러

          // console.log('fieldName !!!!!!!!!!!!! : ', fieldName)
          // $('#' + fieldName + '1').on('click', '.remove-field-btn', function () {
          //   console.log('필드 삭제 버튼')
          //   // 필드 삭제
          //   $(this).closest('.form-group').remove();
          // });
        </script>
        <!-- Modal End -->
        <span id="hidden-span" style="color: blue; display: none;">&nbsp;&nbsp;&nbsp;게시글을 드래그 &amp; 드롭 으로 순서 변경이
          가능합니다.</span>


      </div>
    </div>


    {% if user.is_authenticated and user.is_manager %}
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          <strong>오류!</strong> 다음 오류를 수정하세요:
          <ul>
            {% for field in form %}
            {% for error in field.errors %}
            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
            {% endfor %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if pk %}
        <form action="{% url 'board1:board1_edit' pk=pk %}" method="post">
          {% else %}
          <form action="{% url 'board1:board1_new' %}" method="post">
            {% endif %}
            <div id="add_form">
              {% csrf_token %}
              <div class="form-floating" style="margin-bottom: 20px;">
                <input type="text" class="form-control" id="title" name="title" placeholder="제목"
                  value="{{ form.title.value | default_if_none:'' }}">
                <label for="floatingInputValue">제목을 입력하세요.</label>
              </div>
              <div class="form-floating" style="margin-bottom: 20px;">
                <textarea class="form-control" placeholder="내용" id="content" name="content" style="height: 120px;"
                  value="{{ form.content.value | default_if_none:'' }}">{% if form.content.value %}{{ form.content.value }}{% endif %}
            </textarea>
                <label for="floatingTextarea" style="height: 120px;">내용을 입력하세요.</label>
              </div>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a class="btn btn-outline-secondary me-md-2" type="button" href="{% url 'board1:board1_list' %}">목록</a>
              <button class="btn btn-outline-secondary me-md-2" type="submit">저장</button>
            </div>


      </div>


    </div>
    </form>

    </div>


    {% else %}
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold" style="margin-bottom: 50px;">허가되지 않은 접근</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          <h3>관리자 전용 서비스입니다. 로그인 후 이용 부탁드리겠습니다.</h3><br>
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a type="button" class="btn btn-warning btn-lg px-4 gap-3" href="{% url 'common:login' %}">로그인</a>
        </div>
        <br>회원신청 및 접속불가에 대한 문의 사항은 hrpark@expernet.co.kr 로 연락주시기 바랍니다.
      </div>
    </div>
    {% endif %}




    <!-- INCLUDE FOOTER -->
    {% include 'includes/footer.html' %}

    <script>
      function checkSuperuser() {
        var is_staff = document.getElementById('is_staff');
        var is_superuser = document.getElementById('is_superuser');

        if (is_staff.checked == true) {
          is_superuser.disabled = false;
          is_superuser.checked = true;
        } else {
          is_superuser.disabled = true;
          is_superuser.checked = false;
        }
      }
    </script>
</body>

</html>